<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVT Marko Mihocevich</title>
</head>
<body>

    <h1>Entrega MVT</h1>
        {% for entry in entries %}
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{ entry.nombre }}</strong>
                        <strong>{{ entry.apellido }}</strong>
                        <strong>{{ entry.edad }}</strong>
                    </p>
                </div>
            </div>
        </article>
        {% endfor %}


        </tr>
</body>
</html>